<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--   设置bean的别名-->
    <alias name="user" alias="tuling"/>
    <!--    通过name可以为bean设置多个别名，同alias，可用分隔符 空格、逗号、分号-->
    <bean class="com.tuling.beans.User" id="user" name="user0 user00,user000;user0000">
        <description>用来描述一个bean的用途</description>
    </bean>
    <bean class="com.tuling.beans.User" id="user2"/>

    <!--依赖注入-->
    <!--    基于setter方法的依赖注入-->
    <bean class="com.tuling.beans.User" id="user-setter">
        <!--        name对应setter方法名，来设置变量-->
        <property name="id" value="1"/>
        <property name="username" value="dao"/>
        <property name="realname" value="吴彦祖"/>
    </bean>

    <!--    基于构造函数的依赖注入-->
    <!--    name属性可指定，可省略
        index可输出标记顺序,从0开始
        type指定类型，但在参数类型一致时无效-->
    <bean class="com.tuling.beans.User" id="user-constructor">
        <constructor-arg name="id" value="2"/>
        <constructor-arg index="2" value="d"/>
        <constructor-arg value="刘德华"/>
    </bean>


    <!--    复杂类型的依赖注入-->
    <bean class="com.tuling.beans.Person" id="person">
        <property name="id" value="1"/>
        <!--        设置null-->
        <property name="name">
            <null></null>
        </property>
        <!--        设置空值-->
        <property name="gender" value=""/>
        <!--        外部bean使用ref引用-->
        <!--        <property name="wife" ref="wife" />-->
        <property name="wife">
            <bean class="com.tuling.beans.Wife">
                <property name="name" value="哈哈哈"/>
                <property name="age" value="20"/>
            </bean>
        </property>

        <property name="hobbles">
            <list>
                <!--                基本数据类型用value，对象使用bean-->
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>

        <property name="course">
            <map>
                <!--                对象 使用 entry value-ref-->
                <entry key="1" value="java"/>
                <entry key="2" value="database"/>
            </map>
        </property>
    </bean>

    <bean class="com.tuling.beans.Wife" id="wife">
        <property name="name" value="发发发"/>
        <property name="age" value="18"/>
    </bean>


    <!--    使用p命名空间简化setter注入,不支持集合-->
    <!--    xmlns:p="http://www.springframework.org/schema/p"-->
    <!--    外部bean p:name-ref-->
    <bean class="com.tuling.beans.Wife" id="wife1" p:name="积极哦" p:age="22"/>

    <!--    使用c命名空间简化构造函数注入,不支持集合-->
    <!--    xmlns:c="http://www.springframework.org/schema/c"-->
    <!--    也可使用ref-->
    <bean class="com.tuling.beans.Wife" id="wife2" c:name="哈哈哈" c:age="24"/>
</beans>