<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--
    @Controller  标记在控制层的类注册为Bean主键
    @Service  标记在业务逻辑曾的类注册为Bean主键
    @Repository  标记在数据访问层的类注册为Bean主键
    @Component  标记非三层的普通类注册为Bean主键
    -->
    <!--    <bean class="com.tuling.controller.UserController" id="userController"/>-->

    <!--    设置扫描包
    base-package 设置需要扫描的包-->
    <context:component-scan base-package="com.tuling"/>
</beans>